# You should customize this list as applicable to your project.

# Learn more about .gitignore:

#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

#spatialite databasefiles

*.sqlite3